<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.win.xymz.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.win.xymz.bean.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="contacts_person" property="contactsPerson" jdbcType="VARCHAR" />
    <result column="contacts_tel" property="contactsTel" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="company_info" property="companyInfo" jdbcType="VARCHAR" />
    <result column="company_logo_img" property="companyLogoImg" jdbcType="VARCHAR" />
    <result column="cooperative_agreements_img" property="cooperativeAgreementsImg" jdbcType="VARCHAR" />
    <result column="business_licence_img" property="businessLicenceImg" jdbcType="VARCHAR" />
    <result column="audit_state" property="auditState" jdbcType="INTEGER" />
    <result column="audit_person" property="auditPerson" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_comment" property="auditComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, property, email, industry, contacts_person, contacts_tel, location, longitude, 
    latitude, company_info, company_logo_img, cooperative_agreements_img, business_licence_img, 
    audit_state, audit_person, audit_time, audit_comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.win.xymz.bean.Company" >
    insert into tb_company (id, name, property, 
      email, industry, contacts_person, 
      contacts_tel, location, longitude, 
      latitude, company_info, company_logo_img, 
      cooperative_agreements_img, business_licence_img, 
      audit_state, audit_person, audit_time, 
      audit_comment)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{contactsPerson,jdbcType=VARCHAR}, 
      #{contactsTel,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{companyInfo,jdbcType=VARCHAR}, #{companyLogoImg,jdbcType=VARCHAR}, 
      #{cooperativeAgreementsImg,jdbcType=VARCHAR}, #{businessLicenceImg,jdbcType=VARCHAR}, 
      #{auditState,jdbcType=INTEGER}, #{auditPerson,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditComment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.win.xymz.bean.Company" >
    insert into tb_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="contactsPerson != null" >
        contacts_person,
      </if>
      <if test="contactsTel != null" >
        contacts_tel,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="companyInfo != null" >
        company_info,
      </if>
      <if test="companyLogoImg != null" >
        company_logo_img,
      </if>
      <if test="cooperativeAgreementsImg != null" >
        cooperative_agreements_img,
      </if>
      <if test="businessLicenceImg != null" >
        business_licence_img,
      </if>
      <if test="auditState != null" >
        audit_state,
      </if>
      <if test="auditPerson != null" >
        audit_person,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditComment != null" >
        audit_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="contactsPerson != null" >
        #{contactsPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactsTel != null" >
        #{contactsTel,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="companyInfo != null" >
        #{companyInfo,jdbcType=VARCHAR},
      </if>
      <if test="companyLogoImg != null" >
        #{companyLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="cooperativeAgreementsImg != null" >
        #{cooperativeAgreementsImg,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceImg != null" >
        #{businessLicenceImg,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="auditPerson != null" >
        #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditComment != null" >
        #{auditComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.win.xymz.bean.Company" >
    update tb_company
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="contactsPerson != null" >
        contacts_person = #{contactsPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactsTel != null" >
        contacts_tel = #{contactsTel,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="companyInfo != null" >
        company_info = #{companyInfo,jdbcType=VARCHAR},
      </if>
      <if test="companyLogoImg != null" >
        company_logo_img = #{companyLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="cooperativeAgreementsImg != null" >
        cooperative_agreements_img = #{cooperativeAgreementsImg,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceImg != null" >
        business_licence_img = #{businessLicenceImg,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null" >
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="auditPerson != null" >
        audit_person = #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditComment != null" >
        audit_comment = #{auditComment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.win.xymz.bean.Company" >
    update tb_company
    set name = #{name,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      contacts_person = #{contactsPerson,jdbcType=VARCHAR},
      contacts_tel = #{contactsTel,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      company_info = #{companyInfo,jdbcType=VARCHAR},
      company_logo_img = #{companyLogoImg,jdbcType=VARCHAR},
      cooperative_agreements_img = #{cooperativeAgreementsImg,jdbcType=VARCHAR},
      business_licence_img = #{businessLicenceImg,jdbcType=VARCHAR},
      audit_state = #{auditState,jdbcType=INTEGER},
      audit_person = #{auditPerson,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_comment = #{auditComment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>